NEXT_PUBLIC_API_URL=https://iransocialmediaradar-staging.up.railway.app
NEXT_PUBLIC_ADMIN_API_URL=https://api-admin-private-staging.up.railway.app
NEXT_PUBLIC_EMAIL_THRESHOLD=100

JAVID_API_URL=https://api.javidfighter.com
JAVID_API_KEY=your_javid_api_key_here
